.message-container {
  .author {
    margin: 0;
    color: darkgray;
  }
  .content {
    margin: 0;
  }

  .date-since {
    margin: 0;
    color: darkgray;
    font-size: 12px;
  }

  .avatar {
    width: 32px;
    border-radius: 100%;
  }

  .like-container {
    display: flex;
    .like-button {
      background: transparent;
      color: white;
      padding: 0;
      margin-left: 4px;
    }
  }

  .podium-icon-white {
    filter: invert(1);
  }
}

.input-wrapper {
  display: flex;
  ion-input {
    background-color: lightgray;
    color: gray;
    margin: 16px;
    width: auto;
    border-radius: 10px;
    ::ng-deep input {
      padding-left: 16px !important;
    }
  }

  .send-button {
    filter: invert(1);
    margin-right: 16px;
  }
}
