<ion-content fullscreen="true">
  <ion-slides pager>
    <ion-slide>
      <img src="assets/podium-bgs/bg-2.jpg" class="slide-image" />
      <h2 class="slide-title">Engage.</h2>
    </ion-slide>
    <ion-slide>
      <img src="assets/podium-bgs/bg-13.jpg" class="slide-image" />
      <h2 class="slide-title">Progress.</h2>
    </ion-slide>
    <ion-slide>
      <img src="assets/podium-bgs/bg-9.jpg" class="slide-image" />
      <h2 class="slide-title">Challenge.</h2>
    </ion-slide>

    <ion-slide>
      <img src="assets/podium-icons/podium-icon-motif.svg" class="podium-logo" />

      <ion-button routerLink="/auth/login">LOGIN</ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
